body {
    background-color: map-get($colors , body-Bg-color );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        margin: 6rem auto 2rem auto;
        h1 {
            color: map-get($colors ,header-Text-color );
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
} 